*{box-sizing: border-box;}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F0DAA1;
}

h1 {
	font-family: monospace;
	margin: 5px;
	color: #04A0A5;
}
p{
	margin: 2px;
	color: #04A0A5;
}

.graphContainer {
	position: relative;
	margin:20px auto;
	background-color: #FCD29F;
}

.svg{
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: #FBEFE0;
}

.flagB {
	position: absolute;
	display: block;
	left:0;
	top: 0;
}

img {
	position: absolute;
}

.links {
	stroke: black;
	stroke-width: 1px;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	text-align: center;
	z-index: 100;
	height: 30px;
	padding: 5px;
	background-color: black;
	color: white;
}